@page
@model RegisterModel
@{
    
}

<h1>@ViewData["Title"]</h1>
<main>
    <div class="row justify-content-center responsive min-vh-100">
        <div class="col-md-6 bg-light rounded shadow p-5">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2 class="text-danger text-center ">ĐĂNG KÝ</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>


                <div class="input-group mb-1">
                    <span class="input-group-text">
                        <img src="~/Icons/label.png" width="24" height="24" />
                    </span>
                    <input asp-for="Input.FullName" class="form-control" placeholder="Nhập họ và tên" />
                </div>
                <hr />


                <div class="input-group mb-1">
                    <span class="input-group-text">
                        <img src="~/Icons/sex.png" width="24" height="24" />
                    </span>
                    <select asp-for="Input.Sex" class="form-control">
                        <option value="true">Male</option>
                        <option value="false">Female</option>
                        <option value="null">Other</option>
                    </select>
                    <span asp-validation-for="Input.Sex" class="text-danger"></span>
                </div>
                <hr />


                


                <div class="input-group mb-1">
                    <span class="input-group-text">
                        <img src="~/Icons/calendar (1).png" width="24" height="24" />
                    </span>
                    <input type="date" class="form-control" asp-for="Input.BirthDate" />
                    <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
                </div>
                <hr />


                <div class="input-group mb-1">
                    <span class="input-group-text">
                        <img src="~/Icons/pictures.png" width="24" height="24" />
                    </span>
                    <input asp-for="Input.Picture" type="file" id="imageInput" name="imageInput" class="form-control" onchange="previewImage()" />
                    <img id="imagePreview" src="" alt="Image preview" class="rounded-circle ms-3" width="48" height="48" style="display: none;" />
                </div>

                <script>
                    function previewImage() {
                        var file = document.getElementById("imageInput").files[0];
                        var reader = new FileReader();

                        reader.onloadend = function () {
                            var imagePreview = document.getElementById("imagePreview");
                            imagePreview.src = reader.result;
                            imagePreview.style.display = "inline"; // Hiển thị ảnh xem trước
                        }

                        if (file) {
                            reader.readAsDataURL(file);
                        } else {
                            document.getElementById("imagePreview").style.display = "none"; // Ẩn ảnh nếu không có ảnh
                        }
                    }
                </script>

                <hr />


                <div class="input-group mb-1">
                    <span class="input-group-text">
                        <img src="~/Icons/gmail.png" width="24" height="24" />
                    </span>
                    <input class="form-control" asp-for="Input.Email" placeholder="Nhập email" />
                </div>
                <hr />


                <div class="input-group mb-1">
                    <span class="input-group-text">
                        <img src="~/Icons/reset-password.png" width="24" height="24" />
                    </span>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Nhập mật khẩu" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <hr />


                <div class="input-group mb-1">
                    <span class="input-group-text">
                        <img src="~/Icons/reset-password.png" width="24" height="24" />
                    </span>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Nhập lại mật khẩu" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <hr />


                <div class="input-group mb-1">
                    <span class="input-group-text">
                        <img src="~/Icons/phone-call.png" width="24" height="24" />
                    </span>
                    <input class="form-control" asp-for="Input.PhoneNumber" type="tel" placeholder="Nhập số điện thoại" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <hr />
                <div class="input-group mb-1">
                    <span class="input-group-text">
                        <img src="~/Icons/location-pin.png" width="24" height="24" />
                    </span>
                    <textarea class="form-control" asp-for="Input.Address" placeholder="Nhập địa chỉ"></textarea>
                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                </div>
                <hr />

                <div class="d-flex align-items-center justify-content-end mt-3">
                    <button id="registerSubmit" type="submit" class="btn btn-primary d-flex align-items-center me-2">
                        Đăng ký
                    </button>

                    <button type="button" class="btn btn-danger d-flex align-items-center" onclick="goBack()">
                        Hủy
                    </button>
                    <script>
                        function goBack() {
                            window.history.back();
                        }
                    </script>
                </div>
            </form>
        </div>
    </div>
</main>




   @*  <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
