@page
@model RegisterModel
@{
    
}

<h1>@ViewData["Title"]</h1>

<div class="form-control">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="text-danger text-center">ĐĂNG KÝ TÀI KHOẢN.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>


            <div class="form-group mb-1">
                <label class="form-label mb-1 d-flex align-items-center">
                    Họ và tên
                    <img src="~/Icons/label.png" width="24" height="24" class="ms-1" />
                </label>
                <input asp-for="Input.FullName" class="form-control mb-1" placeholder="Nhập họ và tên" />
            </div>

            <div class="form-group mb-1">
                <label class="form-label mb-1 d-flex align-items-center">
                    Giới tính
                    <img src="~/Icons/sex.png" width="24" height="24" class="ms-1" />
                </label>
                <select asp-for="Input.Sex" class="form-control ">
                    <option value="true">Male</option>
                    <option value="false">Female</option>
                    <option value="null">Other</option>
                </select>
                <span asp-validation-for="Input.Sex" class="text-danger"></span>
            </div>

            <div class="form-group mb-1">
                <label class="form-label mb-1 d-flex align-items-center">
                    Địa chỉ
                    <img src="~/Icons/location-pin.png" width="24" height="24" class="ms-1" />
                </label>
                <textarea class="form-control mb-1" asp-for="Input.Address" placeholder="Nhập địa chỉ"></textarea>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>

            <div class="form-group mb-1">
                <label class="form-label mb-1 d-flex align-items-center">
                    Ngày sinh
                    <img src="~/Icons/calendar (1).png" width="24" height="24" class="ms-1" />
                </label>
                <input type="date" class="form-control mb-1" asp-for="Input.BirthDate" />
                <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
            </div>

            <div class="form-group mb-1">
                <label class="form-label mb-1 d-flex align-items-center">
                    Hình ảnh
                    <img src="~/Icons/pictures.png" width="24" height="24" class="ms-1" />
                </label>
                <div class="d-flex align-items-center">
                    <input asp-for="Input.Picture" type="file" id="imageInput" class="form-control" onchange="previewImage()" />
                    <img id="imagePreview" src="" alt="Image preview" class="rounded-circle ms-3" width="48" height="48" style="display: none;" />
                </div>
                <script>
                    function previewImage() {
                        var file = document.getElementById('imageInput').files[0];
                        if (file) {
                            var reader = new FileReader();
                            reader.onload = e => {
                                var imgPreview = document.getElementById('imagePreview');
                                imgPreview.src = e.target.result;
                                imgPreview.style.display = 'block';
                            };
                            reader.readAsDataURL(file);
                        }
                    }
                </script>
            </div>

         




            
            <div class="form-group">
                <label class="form-label mb-1 d-flex align-items-center">
                    Địa chỉ Email
                    <img src="~/Icons/gmail.png" width="24" height="24" class="ms-1" />
                </label>
                <input class="form-control mb-1" asp-for="Input.Email" placeholder="Nhập email" />
            </div>
            <div class="form-group">
                <label class="form-label mb-1 d-flex align-items-center">
                    Mật khẩu
                    <img src="~/Icons/reset-password.png" width="24" height="24" class="ms-1" />
                </label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Nhập mật khẩu" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-group mb-1">
                <label class="form-label mb-1 d-flex align-items-center">
                    Nhập lại mật khẩu
                    <img src="~/Icons/reset-password.png" width="24" height="24" class="ms-1" />
                </label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Nhập lại mật khẩu" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="form-label mb-1 d-flex align-items-center">
                    Số điện thoại
                    <img src="~/Icons/phone-call.png" width="24" height="24" class="ms-1" />
                </label>
                <input class="form-control mb-1" asp-for="Input.PhoneNumber" type="tel" placeholder="Nhập số điện thoại" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
        <div class="d-flex align-items-center justify-content-end mt-3">
            <button id="registerSubmit" type="submit" class="btn btn-success d-flex align-items-center me-2">
                Lưu
                <img src="~/Icons/plus.png" alt="Thêm" width="24" height="24" style="vertical-align: middle; margin-left: 10px;" />
            </button>

            <button type="button" class="btn btn-danger d-flex align-items-center" onclick="goBack()">
                Hủy
                <img src="~/Icons/delete (1).png" alt="Hủy" width="24" height="24" style="vertical-align: middle; margin-left: 10px;" />
            </button>
            <script>
                function goBack()
                {
                    window.history.back();
                }
            </script>
        </div>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
